---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout>
  <h1 class="text-theme-accent font-bold text-3xl flex items-center gap-2">
    <Icon name="firebase" />
    <span>Firebase Auth</span>
  </h1>
</BaseLayout>
