---
type Props = {
  title?: string;
  description?: string;
};

const {
  title = "Firebase Auth",
  description = "Astro tutorial for Firebase Auth",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="msapplication-TileColor" content="#F46633" />
    <meta name="theme-color" content="#202020" />
    <meta name="color-scheme" content="dark" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body
    class="bg-gradient-to-b from-black to-theme-base text-theme-text text-base relative min-h-screen"
  >
    <main
      class="container grid place-items-center place-content-center min-h-screen"
    >
      <slot />
    </main>
  </body>
</html>
